* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url(../img/background.png) no-repeat fixed center;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header>h1 {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  background-color: aliceblue;
  border-radius: 20px;
  text-transform: uppercase;
}

footer {
  margin-top: 40px;
  text-align: center;
}

footer>small {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 10px 20px;
  background-color: aliceblue;
  border-radius: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  background-color: goldenrod;
}

#screen {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  width: 300px;
  background-color: whitesmoke;
  box-shadow: 0 3px rgb(105, 105, 105);
}

#result {
  text-align: end;
}

#operator, #result {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

#button-container {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(4, 75px);
}

.btn {
  background-color: white;
  margin: 3px;
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 3px rgb(105, 105, 105);
}

.btn:hover {
  filter: brightness(75%);
}

.btn:active {
  box-shadow: none;
  transform: translateY(3px);
}

.btn-operator {
  background-color: darkblue;
  color: white;
}

.btn-operator:hover {
  filter: brightness(200%);
}

.btn-clear {
  background-color: red;
  color: white;
}

.btn-enter {
  background-color: gold;
}

#guide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  text-align: end;
  background-color: white;
}

#guide {
  max-width: 300px;
  text-align: start;
  margin: 8px;
}

#guide>p {
  font-size: 18px;
}

#guide-img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  align-self: flex-end;
}